<div id="functions" ng-show="vm.isFileLoaded()">
    <type-check>
        <function1 ng-if="vm.functionId == 1"></function1>
        <function2 ng-if="vm.functionId == 2"></function2>
        <function3 ng-if="vm.functionId == 3"></function3>
        <function4 ng-if="vm.functionId == 4"></function4>
        <function5 ng-if="vm.functionId == 5"></function5>
        <function6 ng-if="vm.functionId == 6"></function6>
        <function7 ng-if="vm.functionId == 7"></function7>
        <function8 ng-if="vm.functionId == 8"></function8>
        <function9 ng-if="vm.functionId == 9"></function9>
        <function10 ng-if="vm.functionId == 10"></function10>
        <function11 ng-if="vm.functionId == 11"></function11>
    </type-check>
</div>
<div ng-hide="vm.isFileLoaded()">
    Plik nie został załadowany.
</div>